<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="show-page">
        <div>Origin: </div>
        <div><%= flight.airport %></div>
        <div>Destination: </div>
        <div><%=  %></div>
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Flight No: </div>
        <div><%= flight.flightNo %></div>
        <div>Departure Date&Time: </div>
        <div><%= flight.departs %></div>
      </section>
      <form action="/flights/<%">

      </form>
    
</body>
</html>